<!-- HERO SECTION -->

<section
  id="hero"
  class="min-h-[100vh] flex items-center justify-center relative overflow-hidden py-10 mx-[0.15rem] sm:mx-0"
>
  <!-- BG IMAGE -->
  <img
    src="assets/bg2.png"
    class="absolute sm:inset-[30px] inset-[15px] shadow-lg w-[calc(100%-30px)] sm:w-[calc(100%-60px)] h-[calc(100%-30px)] sm:h-[calc(100%-70px)] object-cover pointer-events-none rounded-2xl"
    alt="Pozadina"
  />

  <div
    class="w-full max-w-[85vw] mx-auto px-8 flex flex-col lg:flex-row items-center justify-between gap-16 text-center lg:text-left relative z-10"
  >
    <!-- Left part(text) -->
    <div class="flex-1 space-y-5 blur-animate">
      <p class="text-[#855723] uppercase tracking-widest text-sm">
        Transformiši svoju kosu
      </p>

      <h2 class="text-xl sm:text-6xl font-bold leading-snug text-[#2e1b0e]">
        Zavoli svoju kosu i skalp<br />
        Od očaja do divljenja
      </h2>

      <p class="text-[#a76b35] uppercase text-xl font-semibold">
        Jednostavnim i dokazanim sistemom korak po korak
      </p>

      <div
        class="bg-[#0000001a] p-5 rounded-lg shadow-md text-[#5e3a1e] sm:w-max sm:max-w-full"
      >
        <p class="text-md font-medium">
          Prijavi se klikom na dugme ispod i promeni način na koji neguješ kosu.
        </p>
        <p class="text-base text-[#855723] mt-1">
          Ekskluzivna ponuda dostupna ograničeno vreme.
        </p>
      </div>

      <div class="text-lg mt-4 font-medium">
        Samo <span class="line-through text-gray-400">12000 RSD</span>
        <strong class="text-[#5A3A1B]">10000 RSD</strong> još
      </div>

      <!-- Countdown Timer -->
      <div class="flex items-center justify-center lg:justify-start gap-4 py-2">
        <div class="text-center">
          <div class="text-5xl font-bold text-[#5A3A1B]">
            {{ timeLeft.days }}
          </div>
          <div class="text-sm text-[#855723]">Dana</div>
        </div>
        <div class="text-5xl font-bold text-[#5A3A1B]">:</div>
        <div class="text-center">
          <div class="text-5xl font-bold text-[#5A3A1B]">
            {{ timeLeft.hours }}
          </div>
          <div class="text-sm text-[#855723]">Sati</div>
        </div>
        <div class="text-5xl font-bold text-[#5A3A1B]">:</div>
        <div class="text-center">
          <div class="text-5xl font-bold text-[#5A3A1B]">
            {{ timeLeft.minutes }}
          </div>
          <div class="text-sm text-[#855723]">Minuta</div>
        </div>
        <div class="text-5xl font-bold text-[#5A3A1B]">:</div>
        <div class="text-center">
          <div class="text-5xl font-bold text-[#5A3A1B]">
            {{ timeLeft.seconds }}
          </div>
          <div class="text-sm text-[#855723]">Sekundi</div>
        </div>
      </div>

      <p class="text-gray-800 text-base font-semibold max-w-[75%]">
        Instant prijava donosi
        <span class="text-[#5A3A1B]">poseban bonus!</span>
        Rok prijave za bonus je 6 dana, posle kog dobijaš
        <span class="text-[#5A3A1B]"
          >snimljen materijal konkretnog uputstva korak-po-korak nege kose koju
          ti preporučim</span
        >
      </p>

      <div class="flex flex-col sm:flex-row gap-4 w-full">
        <button
          class="join-btn cursor-pointer bg-[#5A3A1B] text-white px-6 sm:px-10 py-3 rounded-lg text-base font-semibold relative overflow-hidden group transition w-full sm:w-auto text-center"
          (click)="sendReserveMessage()"
        >
          <span class="relative z-10">Instant prijava</span>
          <span
            class="absolute inset-0 bg-gradient-to-r from-[#fff]/10 via-[#fff]/40 to-transparent opacity-0 group-hover:opacity-100 translate-x-[-100%] group-hover:translate-x-[100%] transition-all duration-700"
          ></span>
        </button>

        <button
          class="join-btn cursor-pointer bg-[#5A3A1B] text-white px-6 sm:px-10 py-3 rounded-lg text-base font-semibold relative overflow-hidden group transition w-full sm:w-auto text-center"
          (click)="sendVoucherMessage()"
        >
          <span class="relative z-10">Preuzmi vaučer</span>
          <span
            class="absolute inset-0 bg-gradient-to-r from-[#fff]/10 via-[#fff]/40 to-transparent opacity-0 group-hover:opacity-100 translate-x-[-100%] group-hover:translate-x-[100%] transition-all duration-700"
          ></span>
        </button>
      </div>

      <p class="text-sm text-gray-600 leading-snug max-w-sm mx-auto lg:mx-0">
        Prijavi se na vreme i ne propusti ovu ponudu
      </p>
    </div>

    <!-- Right part (image) -->
    <div
      class="flex flex-1 flex-col lg:flex-row items-center justify-end gap-4 blur-animate text-center"
    >
      <div class="flex flex-col items-center">
        <img
          src="assets/wb.png"
          alt="Masterclass slika"
          class="w-[380px] lg:w-[420px] rounded-2xl shadow-lg p-2 bg-white/90"
        />
        <h2
          class="text-4xl lg:text-5xl font-semibold mt-0"
          style="font-family: 'Dancing Script', cursive"
        >
          KaMiliona
        </h2>
      </div>
    </div>
  </div>
</section>

<!-- VIDEO SECTION -->

<section
  id="video"
  class="min-h-[100vh] flex items-center justify-center relative overflow-hidden py-10 rounded-lg mx-5 sm:mx-0"
>
  <div
    class="container mx-auto flex flex-col items-center text-center lg:text-left"
  >
    <!-- Heading -->
    <h2
      class="scroll-animate text-3xl sm:text-4xl md:text-5xl font-bold max-w-3xl leading-tight mb-8"
    >
      Pogledaj 5-minutni video - i saznaj zašto žene prate
      <span class="text-[#5A3A1B] font-semibold">moj sistem</span> nege kose
    </h2>

    <!-- Video -->
    <div
      class="relative w-full max-w-3xl aspect-video rounded-2xl overflow-hidden shadow-lg mb-10"
    >
      <iframe
        class="w-full h-full scroll-animate"
        src="https://www.youtube.com/embed/b6o0bDtxvGQ?si=UbTdR-3GWaDoQqtM"
        title="Masterclass Video"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>

    <!-- Button -->
    <div class="flex flex-col gap-3 lg:flex-row">
      <button
        class="flex-1 scroll-animate join-btn cursor-pointer inline-block bg-[#5A3A1B] text-white px-10 py-3 rounded-lg text-base font-semibold relative overflow-hidden group transition"
        (click)="sendVoucherMessage()"
      >
        <span class="relative z-10">Preuzmi poklon vaučer</span>
        <span
          class="absolute inset-0 bg-gradient-to-r from-[#fff]/10 via-[#fff]/40 to-transparent opacity-0 group-hover:opacity-100 translate-x-[-100%] group-hover:translate-x-[100%] transition-all duration-700"
        ></span>
      </button>

      <button
        class="flex-1 scroll-animate join-btn cursor-pointer inline-block bg-[#5A3A1B] text-white px-10 py-3 rounded-lg text-base font-semibold relative overflow-hidden group transition"
        (click)="sendReserveMessage()"
      >
        Zakaži svoj termin
      </button>
    </div>
  </div>
</section>

<!-- CARDS SECTION -->

<section
  id="cards"
  class="relative min-h-[100vh] flex flex-col items-center justify-center overflow-hidden py-20 px-3 sm:px-0"
>
  <!-- Subtle top separator to add depth -->
  <div
    class="absolute sm:inset-[30px] inset-[15px] shadow-lg w-[calc(100%-30px)] sm:w-[calc(100%-60px)] h-[calc(100%-30px)] sm:h-[calc(100%-70px)] object-cover pointer-events-none rounded-2xl bg-black-500"
    style="background: linear-gradient(to bottom, #2523201e, #fffdfb)"
  ></div>

  <div class="container mx-auto flex flex-col items-center text-center z-10">
    <h1
      class="scroll-animate text-[1.7rem] sm:text-4xl md:text-5xl font-bold max-w-3xl leading-tight mb-8"
    >
      Ako je ovo tvoja realnost :
    </h1>

    <!-- First Card Group -->
    <div
      class="mt-12 grid grid-cols-1 md:grid-cols-3 gap-6 max-w-6xl mx-auto px-4"
    >
      <!-- Card 1 -->
      <div
        class="scroll-animate p-6 bg-[#fff8f1] border border-[#e8d5be] rounded-2xl shadow-lg flex flex-col gap-3 transition-transform duration-500 ease-out hover:scale-105"
      >
        <div class="text-[#5A3A1B] text-4xl">💬</div>
        <h3 class="text-lg font-semibold text-[#2e1b0e]">
          Frizeri posle kojih izlaziš zbunjena
        </h3>
        <p class="text-[#855723] text-sm leading-relaxed">
          Tražiš savet, a oni kažu: “Koristi bilo šta”. Bez jasnog plana i
          odgovora koji ti trebaju.
        </p>
      </div>

      <!-- Card 2 -->
      <div
        class="scroll-animate p-6 bg-[#fff8f1] border border-[#e8d5be] rounded-2xl shadow-lg flex flex-col gap-3 transition-transform duration-500 ease-out hover:scale-105"
      >
        <div class="text-[#5A3A1B] text-4xl">💔</div>
        <h3 class="text-lg font-semibold text-[#2e1b0e]">
          Slaba i lomljiva kosa koja ne napreduje
        </h3>
        <p class="text-[#855723] text-sm leading-relaxed">
          Šta god da probaš, vraćaš se na isto mesto. Ne vidiš napredak, samo
          frustraciju.
        </p>
      </div>

      <!-- Card 3 -->
      <div
        class="scroll-animate p-6 bg-[#fff8f1] border border-[#e8d5be] rounded-2xl shadow-lg flex flex-col gap-3 transition-transform duration-500 ease-out hover:scale-105"
      >
        <div class="text-[#5A3A1B] text-4xl">🎉</div>
        <h3 class="text-lg font-semibold text-[#2e1b0e]">
          Proslave ti stvaraju pritisak
        </h3>
        <p class="text-[#855723] text-sm leading-relaxed">
          Organizuješ sve, ali kada dođe vreme za kosu, razmišljaš samo kako da
          prikriješ nedostatke.
        </p>
      </div>
    </div>

    <!-- Transition Text -->
    <div class="max-w-2xl text-center mt-16 scroll-animate space-y-4">
      <h1
        class="scroll-animate text-[1.7rem] sm:text-4xl md:text-5xl font-bold max-w-3xl leading-tight mb-8"
      >
        U ovom programu
      </h1>
      <p class="text-[#855723] text-lg font-normal leading-relaxed">
        Dobićeš rešenje za svaku problematiku tvoje kose i obećavam ti da ćeš je
        ponovo zavoleti.
      </p>
    </div>

    <!-- Second Card Group -->
    <div
      class="mt-10 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 max-w-6xl mx-auto px-4"
    >
      <div
        class="scroll-animate p-6 bg-[#fff8f1] border border-[#e8d5be] rounded-2xl shadow-lg flex flex-col gap-3 transition-transform duration-500 ease-out hover:scale-105"
      >
        <div class="text-[#5A3A1B] text-4xl">✨</div>
        <p class="text-[#2e1b0e] text-sm leading-relaxed font-medium">
          Iskustvo posle kog osećaš uzbuđenje za promenom
        </p>
      </div>

      <div
        class="scroll-animate p-6 bg-[#fff8f1] border border-[#e8d5be] rounded-2xl shadow-lg flex flex-col gap-3 transition-transform duration-500 ease-out hover:scale-105"
      >
        <div class="text-[#5A3A1B] text-4xl">✅</div>
        <p class="text-[#2e1b0e] text-sm leading-relaxed font-medium">
          Rešenja koja sigurno daju rezultat i možeš ih odmah primeniti
        </p>
      </div>

      <div
        class="scroll-animate p-6 bg-[#fff8f1] border border-[#e8d5be] rounded-2xl shadow-lg flex flex-col gap-3 transition-transform duration-500 ease-out hover:scale-105"
      >
        <div class="text-[#5A3A1B] text-4xl">💪</div>
        <p class="text-[#2e1b0e] text-sm leading-relaxed font-medium">
          Kosu koja više ne puca, već iz pranja u pranje postaje sve jača
        </p>
      </div>

      <div
        class="scroll-animate p-6 bg-[#fff8f1] border border-[#e8d5be] rounded-2xl shadow-lg flex flex-col gap-3 transition-transform duration-500 ease-out hover:scale-105"
      >
        <div class="text-[#5A3A1B] text-4xl">🌟</div>
        <p class="text-[#2e1b0e] text-sm leading-relaxed font-medium">
          Sve češća pitanja: “Šta si novo uradila sa kosom, kako je tako lepa?”
        </p>
      </div>

      <div
        class="scroll-animate p-6 bg-[#fff8f1] border border-[#e8d5be] rounded-2xl shadow-lg flex flex-col gap-3 transition-transform duration-500 ease-out hover:scale-105"
      >
        <div class="text-[#5A3A1B] text-4xl">🤝</div>
        <p class="text-[#2e1b0e] text-sm leading-relaxed font-medium">
          Podršku i komunikaciju sa mnom uz praćenje tvog napretka tokom celog
          procesa
        </p>
      </div>
      <div
        class="scroll-animate p-6 bg-[#fff8f1] border border-[#e8d5be] rounded-2xl shadow-lg flex flex-col gap-3 transition-transform duration-500 ease-out hover:scale-105"
      >
        <div class="text-[#5A3A1B] text-4xl">👑</div>
        <p class="text-[#2e1b0e] text-sm leading-relaxed font-medium">
          Novi nivo samopouzdanja, sigurnost u svoju rutinu i osećaj da konačno
          znaš šta tvojoj kosi treba i kako to da joj pružiš
        </p>
      </div>
    </div>
  </div>
</section>

<!-- FORM SECTION -->

<section
  id="kontakt"
  class="relative min-h-screen w-full flex items-center justify-center overflow-hidden bg-[#f8f3ee]"
>
  <!-- Background Image -->
  <div class="absolute inset-0">
    <img
      src="assets/silueta11.jpg"
      class="w-full h-full object-cover object-center opacity-90"
    />
  </div>

  <!-- Soft overlay tint -->
  <div
    class="absolute inset-0 bg-gradient-to-b from-white/80 via-white/50 to-[#f8f3ee]/80"
  ></div>

  <!-- FLOATING CARD -->
  <div
    class="scroll-animate relative z-10 max-w-2xl w-full mx-4 sm:mx-auto px-6 sm:px-10 py-12 sm:py-14 bg-white/75 backdrop-blur-xl shadow-[0_10px_40px_rgba(0,0,0,0.1)] rounded-3xl border border-white/60"
  >
    <h2
      class="text-center text-lg md:text-2xl text-[#3a2818] leading-snug mb-8"
    >
      Ako si se pronašla u ovome,<br />
      ili znaš nekoga kome bi ovo rešilo problem…
      <br />Piši mi, tu sam za tebe 🤍
    </h2>

    <!-- Buttons -->
    <div class="mt-6 flex flex-col gap-3">
      <div class="flex flex-row gap-3 mb-10">
        <button
          (click)="sendReserveMessage()"
          class="w-full bg-[#3a2818] text-white py-3 rounded-xl text-md font-medium hover:bg-[#4a3521] transition cursor-pointer"
        >
          Zakaži termin
        </button>

        <button
          (click)="sendVoucherMessage()"
          class="w-full bg-[#e6d4c3] text-[#3a2818] py-3 rounded-xl text-md font-medium hover:bg-[#d8c0aa] transition cursor-pointer"
        >
          Preuzmi vaučer
        </button>
      </div>
      <!-- Input -->
      <textarea
        [(ngModel)]="whatsappText"
        placeholder="Ili tvoja poruka…"
        class="w-full h-48 p-5 bg-white border border-[#e1d6c9] rounded-xl focus:ring-2 focus:ring-[#c5a78a] text-[#3a2818] text-lg outline-none placeholder:text-[#a78b73]"
      ></textarea>

      <button
        (click)="sendWhatsAppCustom()"
        class="w-full bg-[#3a2818] text-white py-3 rounded-xl text-md md:text-lg font-medium hover:bg-[#4a3521] transition cursor-pointer"
      >
        📩 Pošalji poruku na WhatsApp
      </button>
    </div>
  </div>
</section>

<!-- FOOTER -->
<footer
  class="relative w-full bg-[#f8f3ee] border-t border-[#e6d4c3] py-10 px-6 sm:px-16 text-center sm:text-left"
>
  <div
    class="max-w-7xl mx-auto flex flex-col sm:flex-row items-center justify-between gap-6"
  >
    <!-- Left: Logo or Name -->
    <div class="flex items-center gap-3">
      <img
        src="assets/image1.png"
        alt="Logo"
        class="w-14 h-14 rounded-full shadow-md bg-white/80 p-1 object-cover"
        style="object-position: center 0%"
      />

      <div>
        <h2
          class="text-2xl font-semibold text-[#3a2818]"
          style="font-family: 'Dancing Script', cursive"
        >
          KaMiliona
        </h2>
        <p class="text-sm text-[#855723]">
          Neguj kosu s ljubavlju, svakog dana ✨
        </p>
      </div>
    </div>

    <!-- Middle: Quick Links -->
    <div class="flex flex-wrap justify-center gap-6 text-[#5A3A1B] text-sm">
      <a href="#hero" (click)="smoothScroll('hero'); $event.preventDefault()"
        >Početna</a
      >
      <a href="#video" (click)="smoothScroll('video'); $event.preventDefault()"
        >Video</a
      >
      <a href="#cards" (click)="smoothScroll('cards'); $event.preventDefault()"
        >Program</a
      >
      <a
        href="#kontakt"
        (click)="smoothScroll('kontakt'); $event.preventDefault()"
        >Kontakt</a
      >
    </div>

    <!-- Right: Social Links -->
    <div class="flex gap-5 justify-center">
      <a
        href="https://www.instagram.com/kamilliona?igsh=MW8xcHJ5cnB6NzRqbw=="
        target="_blank"
        class="text-[#5A3A1B] hover:text-[#855723] transition"
        aria-label="Instagram"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="currentColor"
          class="w-6 h-6"
        >
          <path
            d="M7.75 2h8.5A5.75 5.75 0 0 1 22 7.75v8.5A5.75 5.75 0 0 1 16.25 22h-8.5A5.75 5.75 0 0 1 2 16.25v-8.5A5.75 5.75 0 0 1 7.75 2zm0 1.5A4.25 4.25 0 0 0 3.5 7.75v8.5A4.25 4.25 0 0 0 7.75 20.5h8.5A4.25 4.25 0 0 0 20.5 16.25v-8.5A4.25 4.25 0 0 0 16.25 3.5h-8.5zM12 7a5 5 0 1 1 0 10 5 5 0 0 1 0-10zm0 1.5a3.5 3.5 0 1 0 0 7 3.5 3.5 0 0 0 0-7zm5.25-.75a.75.75 0 1 1 0 1.5.75.75 0 0 1 0-1.5z"
          />
        </svg>
      </a>

      <a
        href="https://wa.me/381613210805"
        target="_blank"
        class="text-[#5A3A1B] hover:text-[#855723] transition"
        aria-label="WhatsApp"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="currentColor"
          class="w-6 h-6"
        >
          <path
            d="M12.04 2c-5.5 0-9.96 4.42-9.96 9.87 0 1.74.48 3.41 1.38 4.89L2 22l5.44-1.41A10.09 10.09 0 0 0 12.04 22c5.5 0 9.96-4.42 9.96-9.87S17.54 2 12.04 2zm0 18.04c-1.53 0-3.03-.4-4.35-1.17l-.31-.18-3.23.84.86-3.11-.2-.32A8.34 8.34 0 0 1 3.7 11.9c0-4.63 3.75-8.4 8.34-8.4 4.6 0 8.34 3.77 8.34 8.4 0 4.63-3.75 8.4-8.34 8.4zm4.63-6.04c-.25-.13-1.48-.72-1.7-.8-.23-.08-.4-.12-.57.12-.17.24-.66.8-.81.97-.15.16-.3.18-.56.06-.25-.13-1.05-.38-2-1.2a7.29 7.29 0 0 1-1.34-1.66c-.14-.24 0-.36.1-.49.1-.12.25-.3.37-.45.12-.15.16-.25.25-.42.08-.16.04-.3-.02-.42-.06-.12-.57-1.35-.78-1.85-.2-.48-.41-.42-.56-.43h-.48c-.16 0-.42.06-.64.3-.22.24-.84.82-.84 2 0 1.18.86 2.32.98 2.48.12.16 1.7 2.64 4.12 3.6.58.23 1.03.37 1.38.47.58.18 1.1.15 1.51.09.46-.07 1.48-.6 1.7-1.18.21-.58.21-1.07.15-1.18-.06-.11-.23-.18-.48-.3z"
          />
        </svg>
      </a>
    </div>
  </div>

  <!-- Bottom Text -->
  <div class="mt-8 text-center text-xs text-[#8b7058]">
    © {{ currentYear || 2025 }} Spa Studio KaMiliona. Sva prava zadržana. |
    <a class="text-[#5A3A1B]" href="https://www.linkedin.com/in/miljanlazic/"
      >Developed by z1</a
    >
  </div>
</footer>
