<!-- HERO SECTION -->

<section
  class="min-h-[100vh] flex items-center justify-center relative overflow-hidden py-10 mx-[0.15rem] sm:mx-0"
>
  <!-- BG IMAGE -->
  <img
    src="assets/bg2.png"
    class="absolute sm:inset-[30px] inset-[15px] shadow-lg w-[calc(100%-30px)] sm:w-[calc(100%-60px)] h-[calc(100%-30px)] sm:h-[calc(100%-70px)] object-cover pointer-events-none rounded-2xl"
    alt="Pozadina"
  />

  <div
    class="w-full max-w-[85vw] mx-auto px-8 flex flex-col lg:flex-row items-center justify-between gap-16 text-center lg:text-left relative z-10"
  >
    <!-- Left part(text) -->
    <div class="flex-1 space-y-5 blur-animate">
      <p class="text-[#855723] uppercase tracking-widest text-sm">
        Transformiši svoju kosu
      </p>

      <h2 class="text-xl sm:text-6xl font-bold leading-snug text-[#2e1b0e]">
        Zavoli svoju kosu i skalp<br />
        Od očaja do divljenja
      </h2>

      <p class="text-[#a76b35] uppercase text-xl font-semibold">
        Jednostavnim i dokazanim sistemom korak po korak
      </p>

      <div
        class="bg-[#0000001a] p-5 rounded-lg shadow-md text-[#5e3a1e] sm:w-max sm:max-w-full"
      >
        <p class="text-md font-medium">
          Pridruži se Masterclass programu i promeni način na koji neguješ kosu.
        </p>
        <p class="text-base text-[#855723] mt-1">
          Ekskluzivna ponuda dostupna ograničeno vreme.
        </p>
      </div>

      <div class="text-lg mt-4 font-medium">
        Samo <span class="line-through text-gray-400">$309.97</span>
        <strong class="text-[#5A3A1B]">$24.97</strong> danas!
      </div>

      <p class="text-gray-800 text-base font-semibold max-w-[75%]">
        Instant prijava donosi
        <span class="text-[#5A3A1B]">poseban bonus!</span>
        Rok prijave za bonus je 6 dana, posle kog dobijaš
        <span class="text-[#5A3A1B]"
          >snimljen materijal konkretnog uputstva korak-po-korak nege kose koju
          ti preporučim</span
        >
      </p>

      <button
        class="join-btn cursor-pointer inline-block bg-[#5A3A1B] text-white px-10 py-3 rounded-lg text-base font-semibold relative overflow-hidden group transition"
        (click)="sendVoucherMessage()"
      >
        <span class="relative z-10">Preuzmi vaučer</span>
        <span
          class="absolute inset-0 bg-gradient-to-r from-[#fff]/10 via-[#fff]/40 to-transparent opacity-0 group-hover:opacity-100 translate-x-[-100%] group-hover:translate-x-[100%] transition-all duration-700"
        ></span>
      </button>

      <p class="text-sm text-gray-600 leading-snug max-w-sm mx-auto lg:mx-0">
        5 koraka do prvih 10.000 pratilaca uz Reels video sadržaj
      </p>
    </div>

    <!-- Right part (image) -->
    <div class="flex-1 flex justify-center lg:justify-end blur-animate">
      <img
        src="assets/wb.png"
        alt="Masterclass slika"
        class="w-[380px] lg:w-[420px] rounded-2xl shadow-lg p-2 bg-white/90"
      />
    </div>
  </div>
</section>

<!-- VIDEO SECTION -->

<section
  class="min-h-[100vh] flex items-center justify-center relative overflow-hidden py-10 rounded-lg mx-5 sm:mx-0"
>
  <div
    class="container mx-auto flex flex-col items-center text-center lg:text-left"
  >
    <!-- Heading -->
    <h2
      class="scroll-animate text-3xl sm:text-4xl md:text-5xl font-bold max-w-3xl leading-tight mb-8"
    >
      Pogledajte 5-minutni video - i saznajte zašto žene prate
      <span class="text-[#5A3A1B] font-semibold">moj sistem</span> nege kose
    </h2>

    <!-- Video -->
    <div
      class="relative w-full max-w-3xl aspect-video rounded-2xl overflow-hidden shadow-lg mb-10"
    >
      <iframe
        class="w-full h-full scroll-animate"
        src="https://www.youtube.com/embed/b6o0bDtxvGQ?si=UbTdR-3GWaDoQqtM"
        title="Masterclass Video"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>

    <!-- Button -->
    <button
      class="scroll-animate join-btn cursor-pointer inline-block bg-[#5A3A1B] text-white px-10 py-3 rounded-lg text-base font-semibold relative overflow-hidden group transition"
      (click)="sendVoucherMessage()"
    >
      <span class="relative z-10">Preuzmi vaučer</span>
      <span
        class="absolute inset-0 bg-gradient-to-r from-[#fff]/10 via-[#fff]/40 to-transparent opacity-0 group-hover:opacity-100 translate-x-[-100%] group-hover:translate-x-[100%] transition-all duration-700"
      ></span>
    </button>
  </div>
</section>

<section
  class="relative min-h-[100vh] flex flex-col items-center justify-center overflow-hidden py-20 px-3 sm:px-0"
>
  <!-- Subtle top separator to add depth -->
  <div
    class="absolute sm:inset-[30px] inset-[15px] shadow-lg w-[calc(100%-30px)] sm:w-[calc(100%-60px)] h-[calc(100%-30px)] sm:h-[calc(100%-70px)] object-cover pointer-events-none rounded-2xl bg-black-500"
    style="background: linear-gradient(to bottom, #2523201e, #fffdfb)"
  ></div>

  <div class="container mx-auto flex flex-col items-center text-center z-10">
    <h1
      class="scroll-animate text-[1.7rem] sm:text-4xl md:text-5xl font-bold max-w-3xl leading-tight mb-8"
    >
      Ako je ovo tvoja realnost :
    </h1>

    <!-- First Card Group -->
    <div
      class="mt-12 grid grid-cols-1 md:grid-cols-3 gap-6 max-w-6xl mx-auto px-4"
    >
      <!-- Card 1 -->
      <div
        class="scroll-animate p-6 bg-[#fff8f1] border border-[#e8d5be] rounded-2xl shadow-lg flex flex-col gap-3 transition-transform duration-500 ease-out hover:scale-105"
      >
        <div class="text-[#5A3A1B] text-4xl">💬</div>
        <h3 class="text-lg font-semibold text-[#2e1b0e]">
          Frizeri posle kojih izlaziš zbunjena
        </h3>
        <p class="text-[#855723] text-sm leading-relaxed">
          Tražiš savet, a oni kažu: “Koristi bilo šta”. Bez jasnog plana i
          odgovora koji ti trebaju.
        </p>
      </div>

      <!-- Card 2 -->
      <div
        class="scroll-animate p-6 bg-[#fff8f1] border border-[#e8d5be] rounded-2xl shadow-lg flex flex-col gap-3 transition-transform duration-500 ease-out hover:scale-105"
      >
        <div class="text-[#5A3A1B] text-4xl">💔</div>
        <h3 class="text-lg font-semibold text-[#2e1b0e]">
          Slaba i lomljiva kosa koja ne napreduje
        </h3>
        <p class="text-[#855723] text-sm leading-relaxed">
          Šta god da probaš, vraćaš se na isto mesto. Ne vidiš napredak, samo
          frustraciju.
        </p>
      </div>

      <!-- Card 3 -->
      <div
        class="scroll-animate p-6 bg-[#fff8f1] border border-[#e8d5be] rounded-2xl shadow-lg flex flex-col gap-3 transition-transform duration-500 ease-out hover:scale-105"
      >
        <div class="text-[#5A3A1B] text-4xl">🎉</div>
        <h3 class="text-lg font-semibold text-[#2e1b0e]">
          Proslave ti stvaraju pritisak
        </h3>
        <p class="text-[#855723] text-sm leading-relaxed">
          Organizuješ sve, ali kada dođe vreme za kosu, razmišljaš samo kako da
          prikriješ nedostatke.
        </p>
      </div>
    </div>

    <!-- Transition Text -->
    <div class="max-w-2xl text-center mt-16 scroll-animate space-y-4">
      <h1
        class="scroll-animate text-[1.7rem] sm:text-4xl md:text-5xl font-bold max-w-3xl leading-tight mb-8"
      >
        U ovom programu
      </h1>
      <p class="text-[#855723] text-lg font-normal leading-relaxed">
        Dobićeš rešenje za svaku problematiku tvoje kose i obećavam ti da ćeš je
        ponovo zavoleti.
      </p>
    </div>

    <!-- Second Card Group -->
    <div
      class="mt-10 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 max-w-6xl mx-auto px-4"
    >
      <div
        class="scroll-animate p-6 bg-[#fff8f1] border border-[#e8d5be] rounded-2xl shadow-lg flex flex-col gap-3 transition-transform duration-500 ease-out hover:scale-105"
      >
        <div class="text-[#5A3A1B] text-4xl">✨</div>
        <p class="text-[#2e1b0e] text-sm leading-relaxed font-medium">
          Iskustvo posle kog osećaš uzbuđenje za promenom
        </p>
      </div>

      <div
        class="scroll-animate p-6 bg-[#fff8f1] border border-[#e8d5be] rounded-2xl shadow-lg flex flex-col gap-3 transition-transform duration-500 ease-out hover:scale-105"
      >
        <div class="text-[#5A3A1B] text-4xl">✅</div>
        <p class="text-[#2e1b0e] text-sm leading-relaxed font-medium">
          Rešenja koja sigurno daju rezultat i možeš ih odmah primeniti
        </p>
      </div>

      <div
        class="scroll-animate p-6 bg-[#fff8f1] border border-[#e8d5be] rounded-2xl shadow-lg flex flex-col gap-3 transition-transform duration-500 ease-out hover:scale-105"
      >
        <div class="text-[#5A3A1B] text-4xl">💪</div>
        <p class="text-[#2e1b0e] text-sm leading-relaxed font-medium">
          Kosu koja više ne puca, već iz pranja u pranje postaje sve jača
        </p>
      </div>

      <div
        class="scroll-animate p-6 bg-[#fff8f1] border border-[#e8d5be] rounded-2xl shadow-lg flex flex-col gap-3 transition-transform duration-500 ease-out hover:scale-105"
      >
        <div class="text-[#5A3A1B] text-4xl">🌟</div>
        <p class="text-[#2e1b0e] text-sm leading-relaxed font-medium">
          Sve češća pitanja: “Šta si novo uradila sa kosom, kako je tako lepa?”
        </p>
      </div>

      <div
        class="scroll-animate p-6 bg-[#fff8f1] border border-[#e8d5be] rounded-2xl shadow-lg flex flex-col gap-3 transition-transform duration-500 ease-out hover:scale-105"
      >
        <div class="text-[#5A3A1B] text-4xl">🤝</div>
        <p class="text-[#2e1b0e] text-sm leading-relaxed font-medium">
          Podršku i komunikaciju sa mnom uz praćenje tvog napretka tokom celog
          procesa
        </p>
      </div>
      <div
        class="scroll-animate p-6 bg-[#fff8f1] border border-[#e8d5be] rounded-2xl shadow-lg flex flex-col gap-3 transition-transform duration-500 ease-out hover:scale-105"
      >
        <div class="text-[#5A3A1B] text-4xl">👑</div>
        <p class="text-[#2e1b0e] text-sm leading-relaxed font-medium">
          Novi nivo samopouzdanja, sigurnost u svoju rutinu i osećaj da konačno
          znaš šta tvojoj kosi treba i kako to da joj pružiš
        </p>
      </div>
    </div>
  </div>
</section>
